{% extends 'base.html' %}

{% block content %}
<h1>Welcome to your To-Do List</h1>
{% for task in tasks %}
<div>
  <p><b>* {{ task.name }}</b></p>
  {% if task.description %}
  <p>{{ task.description }}</p>
  {% endif %}
  <p>Created: {{ task.created }}</p>
  {% if not task.status %}
  <p>
  <form action="{{ url_for('complete', task=task.name) }}" method="post">
      {{ form.hidden_tag() }}
      {{ form.submit(value='Complete') }}
  </form>
  </p>
  {% else %}
  <p>Completed: {{ task.completed }}</p>
  {% endif %}
  <p>Status: <b>{% if task.status %}Done{% else %}Pendant{% endif %}</b></p>
</div>
{% endfor %}
{% if prev_url %}
<a href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older posts</a>
{% endif %}
{% endblock %}
